@import url('https://rsms.me/inter/inter-ui.css');
body,html{
  font-family: 'Inter UI',sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  position: relative;
  overflow-x: hidden;
  color: #fff;
}
*{
  box-sizing: border-box;
}
.header{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/1.jpeg) center no-repeat;
  background-size: cover;
}
.header *{
  z-index: 1;
}
.header::after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.35);
}
.logo{
    color: #fff;
    position: fixed;
    left: 5vh;
    top: 4vh;
    font-size: 23px;
    z-index: 1;
    text-align: center;
    padding: 7px 13px;
    letter-spacing: -1px;
    font-weight: 600;
}
.main-btn{
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    background: transparent;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    font-size: 14px;
    margin-top: 80px;
    border-radius: 45px;
}
.main-btn:hover{
  background: #fff;
  color: #000;
}
#menu{
  right: 20px;
  position: fixed;
  height: 100vh;
  z-index: 2;
  border-radius: 45px;
  display: flex;
  align-items: center;
}
#menu ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#menu ul li{
  width: 100%;
  text-align: right;
  display: block;
}
#menu ul li a{
    color: #fff;
    font-size: 12.5px;
    text-align: right;
    font-weight: 600;
}
#menu ul li a span{
  text-align: right;
  margin-right: 10px;
  display: none;
  top: -15.55px;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}
#menu ul li a .link{
    width: 2px;
    height: 45px;
    background: rgba(255,255,255,0.2);
    text-shadow: 10px 0 #000;
    display: inline-block;
    position: relative;
    top: 2.5px;
}
#menu ul li a:hover .link,#menu ul li a.active .link{
  background: #fff;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}
#menu ul li a:hover span,#menu ul li a.active span{
  opacity: 1;
  display: inline-block;
}
h1{
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 4rem;
    margin: 0;
    letter-spacing: -5px;
}
h2{
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-weight: 300;
}
h3{
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
h3 small{
  font-weight: 600;
}
h4{
    font-weight: 800;
    margin: 0;
    font-size: 20px;
    text-align: left;
    display: inline-flex;
    align-self: flex-start;
    margin-top: auto;
}
.first{
  background: #05234a;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.elements{
  background: #020716;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 60px;
}
.elements .element{
    width: calc(25% - 40px);
    height: 60vh;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    opacity: 0.9;
}
.element .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(1,24,62,0.6);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.element .info .tag{
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 20px;
    background: transparent;
    color: #fff;
    padding: 5px 20px;
    border-radius: 45px;
    border: 2px solid #fff;
}
.element .card{
    margin: 3px;
    background: transparent;
    color: #fff;
    padding: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    border: 1px solid rgba(255,255,255,0.6);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.inline-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
}
p{
  font-size: 12.5px;
}
@media all and (max-width:680px){
  #menu{
    right: 0;
  }
}
